@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap');

body {
    margin: 0;
    font-family: 'Poppins';
    background: #eeeee7;
}


/* global */

/* custom */


img {
    max-width: 100%;
}

.hello {
    color: #a8a8a8;
    background-color: #323230;
    padding: 0;
}

.text-container {
    color: #323230;

}