/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap'); */

body {
    margin: 0;
    font-family: 'Poppins';
    background: #eeeee7;
}


/* global */

/* custom */


img {
    max-width: 100%;
}

.jumbotron {
    padding: 0 !important;
    margin: 0 !important;
    background: #eeeee7 !important;
}

/* panel 1 */
nav a {
    color: #a8a8a8 !important;
}
nav a:hover {
    color:#eeeee7 !important;
}
.hello {
    color: #a8a8a8;
    background-color: #323230;
}
.hello .card {
    background: #323230;
}


.text-container {
    color: #323230;
}
.text-container a {
    color: #323230;
    font-size: 3rem;
}
.text-container a:hover {
    color: #a8a8a8 !important;
}

.featured img {
    height: 400px !important;
}

.work .featured img {
    height: 400px;
    object-fit: cover;
    border-radius: 0 !important;
}

.work .secondary img {
    height: 250px;
    object-fit: cover;
    border-radius: 0 !important;
}

.work, .skills-container {
    max-width: 1200px !important;
    margin: 0 auto;
}

.work .card {
    transition: all 0.4s;
}
.work .card:hover {
    transform: scale(1.02);
    box-shadow: 0 2px 5px #aaa;
}

.skills {
    margin-top: 30px;
    background: #323230;
    color: #a8a8a8;
}

.skills p {
    font-size: 1.2rem;
}

.skills .webdev-icons i {
    font-size: 3rem;
}

.skills-card {
    color:#323230;
    margin: 20px;
    /* height: 100%; */
}
.skills-card .card-header {
    font-size: 1.3rem;
}

@media screen and (max-width:991px) {

}